<h1 class="ls-title-intro ls-ico-user"><%=t '.sellers'%></h1>
<table class="ls-table">
  <thead>
    <tr>
      <th><%=t '.name'%></th>
      <th class="hidden-xs"><%=t '.email'%></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td class="hidden-xs"><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
