<h2 class="ls-title-intro ls-ico-user"><%= t('.create_seller') %></h2>

<%= simple_form_for @user do |f| %>

  <div class="form-inputs">
    <label class="ls-label">
      <%= f.input :name, required: true, autofocus: true, class: 'ls-login-bg-user ls-field-lg', label_html: { class: 'ls-label-text ls-hidden-accessible' }, placeholder: t('.name'), error_html: { class: 'ls-success ls-help-message'}  %>
    </label>
    <label class="ls-label">
      <%= f.input :email, required: true, class: 'ls-login-bg-user ls-field-lg', label_html: { class: 'ls-label-text ls-hidden-accessible' }, placeholder: t('.email'), error_html: { class: 'ls-help-message'}  %>
    </label>
    <label class="ls-label">
      <%= f.input :is_admin, class: 'ls-login-bg-user ls-field-checkbox' %>
    </label>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.create_user_button'), class: 'ls-btn-primary ls-btn-block ls-btn-lg' %>
  </div>
<% end %>
