<h2 class="ls-title-intro ls-ico-user"><%= t('.create_user') %></h2>
<section id="customer_form">
  <%= simple_form_for @user do |f| %>

    <div class="form-inputs">
      <label class="ls-label col-md-3">
        <%= f.input :name, required: true,
                           autofocus: true,
                           error_html: { class: 'ls-success ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :email, required: true,
                            error_html: { class: 'ls-help-message'}  %>
      </label>
      <label class="ls-label-text col-md-3">
        <b><%= f.input :is_admin, class: 'ls-login-bg-user ls-field-checkbox' %>
          <br>
      </label>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</section>
