<section id="customer_form">
  <%= simple_form_for @customer do |f| %>
    <div class="form-inputs">
      <label class="ls-label col-md-4">
        <%= f.input :name, autofocus: true,
                          error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-4">
        <%= f.input :email, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :phone, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :cpf_cnpj, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :address, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :contact_name, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :company_name, error_html: { class: 'ls-help-message'} %>
      </label>
      <label class="ls-label col-md-3">
        <%= f.input :birth_date, start_year: Time.now.year - 100,
                                       error_html: { class: 'ls-help-message'} %>
      </label>
    </div>
    <div class='submit-form'>
      <%= f.button :submit %>
    </div>
  <% end %>
</section>
