<h1 class="ls-title-intro ls-ico-user"><%= t('.customer_details') %></h1>

<div class='details'>
  <strong><%= t '.name'%>:</strong> <%= @customer.name %><br><br>
  <strong><%= t '.cpf_cnpj'%>:</strong> <%= @customer.cpf_cnpj %><br><br>
  <strong><%= t '.email'%>:</strong> <%= @customer.email %><br><br>
  <strong><%= t '.phone'%>:</strong> <%= @customer.phone %><br><br>
  <strong><%= t '.contact_name'%>:</strong> <%= @customer.contact_name %><br><br>
  <strong><%= t '.address'%>:</strong> <%= @customer.address %>
  <strong><%= t '.company_name'%>:</strong> <%= @customer.company_name %>
</div>
