<h1 class="ls-title-intro ls-ico-user"><%= @customer.name %></h1>

<div class='details'>
  <strong><%= t '.email'%>:</strong> <%= @customer.email %><br><br>
  <strong><%= t '.phone'%>:</strong> <%= @customer.phone %><br><br>
  <strong><%= t '.cpf_cnpj'%>:</strong> <%= @customer.cpf_cnpj %><br><br>
  <strong><%= t '.address'%>:</strong> <%= @customer.address %><br><br>
  <strong><%= t '.birth_date'%>:</strong> <%= @customer.birth_date %><br><br>
  <strong><%= t '.contact_name'%>:</strong> <%= @customer.contact_name %><br><br>
  <strong><%= t '.company_name'%>:</strong> <%= @customer.company_name %>
</div>
