<div id="errors">
<% if @order.errors.any? %>
<ul>
  <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
</div>
<section id="order_form">
<%= simple_form_for @order do |f| %>
  <div class="form-inputs">
    <% if current_user.is_admin? %>
    <label class="ls-label">
      <%= f.input :status, collection: ['Aberto', 'Concluído', 'Cancelado'], default: 'Aberto' %>
    </label>
    <% end %>
    <label class="ls-label">
      <%= f.association :customer %>
    </label>
    <label class="ls-label">
      <%= f.input :product_id, collection: @products %>
    </label>
    <label class="ls-label">
      <%= f.input :coupon %>
    </label>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</section>
