<h1 class="ls-title-intro ls-ico-user"><%= t('.order') %> <%= @order.id %></h1>
<span>
  <strong><%= t '.status'%>:</strong> <%= @order.status %><br><br>
  <strong><%= t '.user_name'%>:</strong> <%= @order.user.name %><br><br>
  <strong><%= t '.product'%>:</strong> <%= @order.product %><br><br>
  <strong><%= t '.customer'%>:</strong> <%= @order.customer.name%><br><br>
  <strong><%= t '.created_at'%>:</strong> <%= @order.created_at %><br><br>
</span>
<% if current_user %>
  <% if current_user.is_admin? || @order.status == 'Aberto'%>
    <%= button_to 'Concluir Pedido',
        order_status_order_path(@order, type: 'finish'),
        method: :put, class: 'ls-btn-primary ls-btn-block ls-btn-lg'%>
    <br>
    <%= button_to 'Cancelar Pedido',
        order_status_order_path(@order, type: 'cancel'),
        method: :put, class: 'ls-btn-primary ls-btn-block ls-btn-lg'%>
    <br>
  <% end %>
  <%= button_to 'Editar Pedido', edit_order_path(@order),
      method: :get, class: 'ls-btn-primary ls-btn-block ls-btn-lg' if current_user.is_admin?%>
<% end %>
